@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
  top:90px; /*9?*/
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  /*color: #9e9e9e;
  font-size: 12px;*/
  /**/
  color: #000; /* #282828*/
  font-weight: normal; /*bolder*/
  font-family: "Arial", Times, serif;
  font-size: 17px; /*18*/
}
#id-card {
  position: relative;
  display: none;
  margin: 130px 50px 0 0; /*230px 50px 0 0*/
  float: right;
  width: 457px;
  height: 288px; /*272*/
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
  
}
img {
  position: absolute;
  left:12px; /*7*/
  top:160px; /*9?*/
}
#name {
  font-weight: normal; /*bolder*/
  font-family: "Arial", Times, serif;
  font-size: 17px; /*18*/
  color: #000; /* #282828*/
  position: absolute;
  left: 154px;
  top: 100px;
}

#name2 {
  font-weight: normal; /*bolder*/
  font-family: "Arial", Times, serif;
  font-size: 17px; /*18*/
  color: #000; /* #282828*/
  position: absolute;
  left: 154px;
  top: 70px;
}

#inline {
  position: absolute;
  top: 109px;
}
#dob {
  position: absolute;
  left: 175px; /*0*/
  top: 7px;
  width: 120px; /*100*/
  font-weight: normal; /*bolder*/
  font-family: "Arial", Times, serif;
  font-size: 17px; /*18*/
  color: #000; /* #282828*/
}
#sex {
  position: absolute;
  left: 40px; /*90px*/
  top: 7px;
  font-weight: normal; /*bolder*/
  font-family: "Arial", Times, serif;
  font-size: 17px; /*18*/
  color: #000; /* #282828*/
}
#height {
  position: absolute;
  left: 150px;
  width: 60px;
}
#ocupation {
  position: absolute;
  left: 12px;
  top: 58px;
  width: 60px;
}
#signature {
  position: absolute;
  bottom: 28px; /*18*/
  left: 210px;
  color: #000; /*#b1b177*/
  font-size: 19px;
  font-weight: bolder;
  text-transform:capitalize;
  font-family: justsignature;
  top: 180px;
}
#licenses {
  position: absolute;
  top: 165px;
  right:63px;
  width: 100px;
  font-size: 14px;
}
